<h1>"{{std_info.Name}}"  StudentAcademics</h1>

<table border="1">
<thead>
    <tr>
    <th>Maths</th>
    <th>Physics</th>
    <th>Chemistry</th>
    <th>Biology</th>
    <th>English</th>
    </tr>
</thead>
<tbody>
    <tr>
    <td>{{ std_score.Maths }}</td>
    <td>{{ std_score.Physics }}</td>
    <td>{{ std_score.Chemistry }}</td>
    <td>{{ std_score.Biology }}</td>
    <td>{{ std_score.English }}</td>


    </tr>

    <a href="Display_info">Click here to return Display info</a>
</tbody>
</table>
