<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Regsiter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>

p {
  background-color: #f18973;
}

</style>

<body>



<div class="container">
  <h2> Student Details </h2>
  <form action="Register", method="POST">
  {% csrf_token %}
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="Email" class="form-control"  name="Email">
    </div>


    <div class="form-group">
      <label for="Name">User_Name: </label>
      <input type="text" class="form-control" name="Uname" >
    </div>

    <div class="form-group">
      <label for="email">First_Name: </label>
      <input type="text" class="form-control"  name="Fname">
    </div>

    <div class="form-group">
      <label for="email">Last_Name: </label>
      <input type="text" class="form-control"  name="Lname">
    </div>

    <div class="form-group">
      <label for="email">Password: </label>
      <input type="password" class="form-control"  name="Password1">
    </div>

    <div class="form-group">
      <label for="email">Confirm Password: </label>
      <input type="password" class="form-control"  name="Password2">
    </div>



    <button type="submit" class="btn btn-default">Submit</button>

    <div>
        {% for message in messages  %}
             <p>{{ message }}</p>
        {% endfor %}

    </div>

</body>
</html>
